*{text-decoration: none;}
 
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 120px;
    padding-right: 120px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul { 
    display: flex;
    list-style: none;
    gap: 20px;
}

li a{
    color:#E5E7EB;
    font-size: 18px;
}

/* End of header --- Beginning of Container1*/

.con1 {
    display: flex;
     padding: 60px 120px;
    gap: 30px;
    background-color:#1F2937;
}

.con1-incon1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Hero-Main-Text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.Hero-Sec-Text {
    font-size: 18px;
    color: #E5E7EB;
}

.Hero-Sign-Up a {
    background-color: #3882F6;
    padding: 5px 10px;
    color: #F9FAF8;
    border-radius: 3px;
}

/* End of Container1 - Beginning of Container2*/

.con2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con1-incon2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 20px;
}

.con2-incon2 {
    display: flex;
    gap: 35px;
    padding-bottom: 30px;
}

.image-and-text {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.image{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: #3882F6;
    border-radius: 5px;
}

.text {
    text-align: center;
}

/* End of Container2 - Beginning of Container3 */ 

.con3 {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #E5E7EB;
}

.Quot {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.Qout-Autor {
    margin-left: auto;
    font-weight: 700;
}

/* End of Container3 - Beginning of Container4 */

.con4 {
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.con1incon4 { 
    display: flex;
    background-color: #3882F6;
    padding: 40px 60px;
    color: #F9FAF8;
    border-radius: 8px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
}

.con1incon1incon4 {
    font-weight: 900;
}

.con3incon1incon4 #Sign-UP{
    color: #F9FAF8;
    padding: 5px 20px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

/* End of Container4 - Beginning of Footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    font-size: x-small;
}
